@keyframes spin {
  0% {
    transform: rotate(0);
  }
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-embed:before, .w-embed:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-embed:after {
  clear: both;
}

.primary-button {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-radius: var(--border-radius--tertiary);
  background-color: var(--background-color--quinary);
  box-shadow: inset 0 0 1vw 0 var(--box-shadow--primary);
  justify-content: space-between;
  align-items: center;
  min-width: 7.5rem;
  padding: .4rem 1rem;
  font-size: .8rem;
  font-weight: 400;
  display: flex;
  position: relative;
  overflow: hidden;
}

.primary-button.is-full {
  flex: 1;
}

.primary-button.for-pricing {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.container-large {
  width: 100%;
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-global {
  padding-left: 1rem;
  padding-right: 1rem;
}

.styleguide-section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--secondary);
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: flex;
}

.styleguide-section-header.no-border {
  border-bottom-width: 0;
}

.padding-section-large {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.background-color-secondary {
  background-color: var(--background-color--secondary);
}

.text-color-primary {
  color: var(--text-color--primary);
}

.text-color-secondary {
  color: var(--text-color--secondary);
}

.heading-style-h3 {
  color: var(--text-color--primary);
  letter-spacing: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.heading-style-h4 {
  color: var(--text-color--primary);
  letter-spacing: 0;
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
}

.heading-style-h4.is-for-order {
  transition: color .4s ease-out;
}

.heading-style-h4.is-for-order:hover {
  color: var(--text-color--secondary);
}

.text-size-large {
  font-size: 1.5rem;
}

.heading-text-part {
  transform-origin: 0%;
}

.none {
  display: none;
}

.checkout-form-box.card-frame.last {
  margin-bottom: 0;
}

.discover-element.first {
  border-top: 1px solid var(--border-color--tertiary);
  border-top-left-radius: var(--border-radius--secondary);
}

.section-header {
  z-index: 2;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.section-header.is-about {
  width: 100%;
}

.section-header.is-notfound {
  justify-content: center;
  align-items: center;
}

.card-frame {
  border: 1px solid var(--border-color--secondary);
  border-radius: var(--border-radius--secondary);
  background-color: var(--background-color--quinary);
  box-shadow: inset 0 0 23vw -17vw var(--box-shadow--primary);
}

.card-frame.blog-card {
  box-shadow: inset 0 0 23vw -10vw var(--box-shadow--primary);
  height: 100%;
}

.card-frame.team-card {
  height: 100%;
}

.card-frame.career-card {
  width: 100%;
  height: 100%;
}

.card-frame.insight-card {
  background-image: radial-gradient(circle farthest-corner at 50% 50%, var(--background-color--quinary), var(--background-color--primary) 80%), url("https://cdn.prod.website-files.com/67fe25b72ba200f832eb7fce/6805fc97591dd1d304273a51_Slice%202.svg");
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.card-frame.work-card {
  overflow: hidden;
}

.card-frame.form-card {
  box-shadow: inset 0 0 23vw -5vw var(--box-shadow--primary);
}

.card-frame.pricing-card {
  box-shadow: inset 0 0 23vw -7vw var(--box-shadow--primary);
  height: 100%;
}

.card-frame.plan-order-card {
  box-shadow: inset 0 0 23vw -13vw var(--box-shadow--primary);
}

.card-frame.comment-card {
  background-image: radial-gradient(circle closest-side at 50% 50%, var(--background-color--quinary), var(--background-color--primary)), url("https://cdn.prod.website-files.com/67fe25b72ba200f832eb7fce/680f47fb539ddb3a83e7bac6_lines.svg");
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.text-overflow-hidden {
  padding-top: .25rem;
  padding-bottom: .25rem;
  position: relative;
  overflow: hidden;
}

.text-overflow-hidden.is-row {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-shadow {
  background-image: linear-gradient(90deg, transparent, var(--background-color--primary) 50%);
  width: 200%;
  height: 100%;
  position: absolute;
  inset: 0% auto 0% 0%;
  transform: translate(50%);
}

.hero-heading-text-box {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.primary-button-arrow-circle {
  aspect-ratio: 1;
  border-radius: var(--border-radius--tertiary);
  mix-blend-mode: difference;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  display: flex;
  position: absolute;
  left: .4rem;
}

.primary-button-arrow {
  color: var(--text-color--primary);
  width: 100%;
  height: 100%;
}

.primary-button-arrow.for-back-top {
  color: var(--text-color--tertiary);
  transform: rotate(-90deg);
}

.primary-button-text-box {
  mix-blend-mode: difference;
  overflow-y: clip;
}

.primary-button-text-box.for-pricing {
  text-align: center;
  flex: 1;
  font-size: 1rem;
}

.primary-button-text {
  flex-flow: column;
  justify-content: center;
  display: flex;
}

.text-box-header {
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.text-box-footer {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-flow: column;
  align-items: flex-start;
  max-width: 30rem;
  padding-bottom: .5rem;
  display: flex;
}

.text-box-footer.for-benefit {
  max-width: none;
}

.text-box-footer.is-about {
  max-width: none;
  margin-left: 35%;
}

.text-box-footer.is-for-flower-box, .text-box-footer.with-auto {
  max-width: none;
}

.text-box-footer.is-align-center {
  justify-content: flex-start;
  align-items: center;
}

.home-hero-video.display-none {
  display: none;
}

.text-gradient {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #fff 54%, #99e8ff8c 71%, #f27cf64d 91%);
  -webkit-background-clip: text;
  background-clip: text;
}

.insights-section-main-box {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.section-text-box {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 2.5fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: end;
  display: grid;
}

.section-text-box.is-about {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-flow: column;
  align-items: flex-start;
  width: 90%;
  display: flex;
}

.section-text-box.vertical {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.section-text-box.for-blog {
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.section-text-box.is-notfound {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-header-tag {
  border: 1px solid var(--border-color--secondary);
  border-radius: var(--border-radius--tertiary);
  background-color: var(--background-color--quinary);
  box-shadow: inset 0 0 1vw 0rem var(--box-shadow--primary);
  justify-content: center;
  align-items: center;
  padding: .25rem 1rem;
  font-size: .6rem;
  display: flex;
}

.insights-row {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.insights-row.none {
  display: none;
}

.insight-item-content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  min-height: 17rem;
  padding: 4rem 1rem;
  font-size: .8rem;
  display: flex;
  position: relative;
}

.insight-stat-box {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.insight-number {
  background-image: linear-gradient(180deg, var(--text-color--primary), var(--text-color--tertiary) 83%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: -.9rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: .9;
}

.insight-icon-box {
  aspect-ratio: 1;
  border: 1px solid var(--border-color--secondary);
  box-shadow: inset 0 0 3vw -2vw var(--box-shadow--primary);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  padding: .5rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.insight-icon {
  width: 100%;
  height: 100%;
}

.service-card-frame {
  border: 1px solid var(--border-color--secondary);
  border-radius: var(--border-radius--secondary);
  background-color: var(--background-color--tertiary);
  box-shadow: inset 0 0 5vw 0vw var(--box-shadow--secondary);
}

.insights-col {
  perspective: 63rem;
  width: 100%;
  position: relative;
}

.insights-sticky-frame {
  perspective: 63rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0%;
}

.insights-height-item {
  height: 100vh;
}

.insight-stat-wrapper {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.insight-stat-wrapper.second {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -300rem);
}

.insight-stat-wrapper.third {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -600rem);
}

.insight-stat-wrapper.fourth {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -900rem);
}

.insight-big-number {
  background-image: linear-gradient(90deg, var(--text-color--primary), var(--text-color--tertiary));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 19vw;
  font-weight: 500;
  line-height: .9;
}

.insight-item-heading {
  background-image: linear-gradient(90deg, var(--text-color--primary), var(--text-color--tertiary));
  text-transform: capitalize;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 7vw;
  line-height: 1;
}

.insight-stat-col {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.insight-stats {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 55vh;
  display: flex;
  position: relative;
}

.display-none {
  display: none;
}

.secondary-button-dot {
  background-color: var(--background-color--primary);
  width: .25rem;
  height: .25rem;
}

.about-section-main-box {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.about-section-main-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.about-section-image-box {
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.about-section-image {
  width: 100%;
  transform: rotate(-7deg);
}

.about-section-text-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 4rem;
  display: flex;
}

.image-in-text-row {
  height: 2.5rem;
}

.simple-button-loader {
  margin-top: 3rem;
}

.secondary-button {
  z-index: 2;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-radius: var(--border-radius--tertiary);
  background-color: var(--background-color--secondary);
  color: var(--text-color--primary);
  justify-content: space-between;
  align-items: center;
  min-width: 7.5rem;
  padding: .4rem 1rem;
  font-size: .8rem;
  font-weight: 400;
  display: flex;
  position: relative;
  overflow: hidden;
}

.text-margin-bottom {
  margin-bottom: -.5rem;
}

.secondary-button-arrow {
  width: 100%;
  height: 100%;
}

.section-bg-box {
  background-image: radial-gradient(circle closest-side at 50% 50%, #2e2e2f, transparent 80%);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0%;
}

.position-relative {
  position: relative;
}

.overflow-x-clip {
  overflow-x: clip;
}

.section.overflow-x-clip {
  overflow-x: clip;
}

.heading-text-box {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.paragraph-text-box {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.item-loader {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.item-loader.first {
  opacity: 0;
}

.item-loader.second {
  opacity: 0;
}

.item-loader.third {
  opacity: 0;
}

.item-loader.fourth {
  opacity: 0;
}

.primary-button-dot {
  background-color: var(--background-color--secondary);
  border-radius: 50%;
  width: .25rem;
  height: .25rem;
  position: absolute;
  bottom: .4rem;
  left: .4rem;
}

/* Media Queries */
@media (max-width: 991px) {
  .container-large {
    max-width: 68rem;
  }
}

@media (max-width: 767px) {
  .container-large {
    max-width: 70rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .checkout-form-box.card-frame.last {
    margin-bottom: 1.5rem;
  }

  .insights-row {
    grid-template-columns: 1fr 1fr;
  }

  .insights-sticky-frame, .insights-height-item {
    height: 70vh;
  }

  .insight-stats {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .about-section-main-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .about-section-image-box {
    justify-content: center;
    align-items: center;
  }

  .about-section-image {
    width: 75%;
    transform: none;
  }

  .about-section-text-content {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .image-in-text-row {
    height: 2.1rem;
  }

  .styleguide-section-header {
    font-size: .875rem;
  }

  .heading-style-h3 {
    letter-spacing: -.05rem;
  }

  .heading-style-h4 {
    font-size: 1.2rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .section-header {
    justify-content: center;
    align-items: center;
  }

  .section-header.is-about {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .text-overflow-hidden.is-row {
    justify-content: center;
    align-items: center;
  }

  .text-box-header {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
  }

  .text-box-footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: none;
  }

  .text-box-footer.is-about {
    margin-left: 0;
  }

  .insights-section-main-box {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .section-text-box {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .section-text-box.is-about {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .section-text-box.vertical {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .insight-stat-col {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .insight-stats {
    width: 100%;
  }

  .primary-button {
    min-width: 7rem;
    font-size: .7rem;
  }
}

@media (max-width: 479px) {
  .padding-global {
    padding-left: .75rem;
    padding-right: .75rem;
  }

  .heading-style-h3 {
    font-size: 1.4rem;
  }

  .heading-style-h4 {
    font-size: 1.2rem;
  }

  .text-size-large {
    font-size: 1rem;
  }

  .insights-row {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
  }

  .primary-button-arrow-circle {
    width: 1.5rem;
  }

  .primary-button-arrow-circle.for-pricing {
    width: 1.2rem;
  }

  .secondary-button {
    min-width: 7rem;
    font-size: .7rem;
  }

  .insight-stat-col {
    grid-column-gap: 1.2rem;
    grid-row-gap: 1.2rem;
  }

  .image-in-text-row {
    height: 1.6rem;
  }

  .primary-button {
    min-width: 7rem;
    font-size: .7rem;
  }
}
